# Practice Questions: Python Fundamentals Review

**Instructions:** Solve the following 50 questions. This set covers a range of topics from basic data types to OOP, with gradually increasing difficulty. Write your code in the empty cell below each question.

### Part 1: Data Types, Operators, and Conditionals

**Q1:** The string `s` is given. Print the character at index 3.

In [ ]:
s = "Programming"
print(s[3])

**Q2:** The list `numbers` is given. Print the last element using a negative index.

In [ ]:
numbers = [10, 20, 30, 40]
print(numbers[-1])

40

**Q3:** The string `s` is given. Use slicing to print the first 5 characters.

In [ ]:
s = "Hello World"
print(s[:5])

Hello

**Q4:** The tuple `data` is given. Use slicing to get a new tuple with the last two items.

In [ ]:
data = (1, 2, 3, 4, 5)
print(data[-2:])

(4, 5)

**Q5:** A variable `age` is given. Check if the age is 18 or greater and print "Adult" or "Minor".

In [ ]:
age = 25
age=18
if age >=18:
  print('Adult')
else:
  print('Minor')

Adult

**Q6:** A number `n` is given. Check if it is divisible by both 3 and 5.

In [17]:
n = 15
if n%3==0 and n%5==0:
  print('Divisible by 3 and 5')
else:
    print('Not divisible by 3 and 5')

Divisible by 3 and 5

**Q7:** From the `student` dictionary, access and print the list of subjects.

In [19]:
student = {"name": "Priya", "subjects": ["Math", "Science"]}
print(student["subjects"])

['Math', 'Science']

**Q8:** From the `student` dictionary above, access the second subject in the list ("Science").

In [21]:
student = {"name": "Priya", "subjects": ["Math", "Science"]}
print(student["subjects"][1])

Science

**Q9:** Check if the length of the string `word` is odd.

In [2]:
word = "Python"
# Your code here
len(word)

6

**Q10:** A `score` is given. Print "Pass" if the score is 40 or more, otherwise print "Fail".

In [23]:
score = 39
if score == 40:
  print('Pass')
else:
  print('Fail')

Fail

### Part 2: Loops (for and while)

**Q11:** Use a `for` loop to print each item in the `fruits` list.

In [24]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
  print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

**Q12:** Use a `for` loop to print numbers from 1 to 10 that are even.

In [25]:
 for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

**Q13:** Use a `while` loop to print numbers from 5 down to 1.

In [27]:
num=5
while num >=1:
  print(num)
  num-=1

5
4
3
2
1

**Q14:** The list `data` is given. Loop through it and print the items until you find the string "stop".

In [28]:
data = [1, 5, "go", "stop", 3, 4]
for item in data:
    if item == "stop":
        break
    print(item)

1
5
go

**Q15:** The dictionary `scores` is given. Loop through it and print the subject if the score is greater than 80.

In [35]:
scores = {"Math": 95, "Science": 75, "History": 85}
for subject in scores:
  if scores[subject]>=80:
    print(subject)

Math
History

**Q16:** Use a `for` loop and `range()` to create a list of the first 5 multiples of 10 (`[10, 20, 30, 40, 50]`).

In [31]:
for i in range(1,6):
 print(i*10)

10
20
30
40
50

**Q17:** The list `words` is given. Create a new list containing only the words that have 4 or more characters.

In [4]:
words = ["cat", "lion", "dog", "python"]
[i for i in words if len(i)>=4]

['lion', 'python']

**Q18:** The nested list `matrix` is given. Use a nested `for` loop to print each number.

In [5]:
matrix = [[1, 2], [3, 4]]
# Your code here
[j for i in matrix for j in i]

[1, 2, 3, 4]

**Q19:** Loop through the numbers from 1 to 10. Use the `continue` keyword to skip printing the multiples of 3.

In [6]:
for i in range(11):
    if i % 3 == 0:
        continue
    print(i)

1
2
4
5
7
8
10

**Q20:** The list of dictionaries `users` is given. Print the name of each user who is an admin.

In [7]:
users = [{"name": "Raj", "admin": True}, {"name": "Priya", "admin": False}]
# Your code here
[i["name"] for i in users if i["admin"]]

['Raj']

### Part 3: Functions (Named and Lambda)

**Q21:** Define a named function `multiply(a, b)` that returns the product of two numbers.

In [8]:
x = lambda a,b : a*b

x(2,3)

6

**Q22:** Define a named function `is_adult(age)` that returns `True` if age is 18 or over, and `False` otherwise.

In [12]:
is_adult = lambda age: True if age >=18 else False

is_adult(15)

False

**Q23:** Define a function `greet(name, greeting="Hello")` that takes a name and an optional greeting, and returns a formatted string.

In [14]:
greet = lambda name,greetings: print(f"{greetings} {name}")

greet("Rahul", "Hello")

Hello Rahul

**Q24:** Create a lambda function `add_five` that takes a number and returns the number plus 5.

In [15]:
add_five = lambda num : num + 5

add_five(5)

10

**Q25:** The list `numbers` is given. Use `map()` with a lambda function to create a new list where each number is squared.

In [17]:
numbers = [1, 2, 3, 4]
# Your code here
list(map((lambda x:x*x),numbers))

[1, 4, 9, 16]

**Q26:** The list `numbers` is given. Use `filter()` with a lambda to create a new list containing only numbers greater than 10.

In [19]:
numbers = [5, 12, 8, 15, 3]
# Your code here
list(filter((lambda x: x > 10),numbers))

[12, 15]

**Q27:** Define a function `calculate_sum(*args)` that takes a variable number of arguments and returns their sum.

In [22]:
calculate_sum = lambda *args: sum(args)

calculate_sum(1,2,3,4,5,6)

21

**Q28:** The list `people` is given. Use `sorted()` with a lambda function to sort the list by age (the second element of the tuple).

In [26]:
people = [('Raj', 30), ('Sonia', 22), ('Amit', 26)]
# Your code here
people_sort = sorted(people,key= lambda x:x[1])

people_sort

[('Sonia', 22), ('Amit', 26), ('Raj', 30)]

**Q29:** Define a function `display_info(**kwargs)` that takes a variable number of keyword arguments and prints each key-value paiar.

In [30]:
# def display_info(**kwargs):
#     for key, value in kwargs.items():
#         print(f"{key}: {value}")

display_info = lambda **kwargs: [f" {key}: {value}" for key,value in kwargs.items()]

# Example usage
display_info(name="Alice", age=25, city="New York")

[' name: Alice', ' age: 25', ' city: New York']

**Q30:** The list `students` is given. Use a list comprehension to create a list of names of students who have a score above 85.

In [32]:
students = [{'name': 'Raj', 'score': 90}, {'name': 'Priya', 'score': 82}, {'name': 'Amit', 'score': 88}]
# Your code here
[i for i in students if i["score"] > 85]

[{'name': 'Raj', 'score': 90}, {'name': 'Amit', 'score': 88}]

### Part 4: Introduction to OOP

**Q31:** Define a simple class called `Dog` with an `__init__` method that sets a `name` attribute.

In [33]:
class Dog():
    def __init__(self,name):
        self.name = name

**Q32:** In the `Dog` class, add a method `bark()` that prints "Woof!"

In [47]:
class Dog():
    def __init__(self,name):
        self.name = name
    def bark(self):
        print("Woof")
    def eat(self):
        print("Dog also eat")

**Q33:** Create an object of the `Dog` class with the name "Buddy" and call its `bark()` method.

In [37]:
my_Dog = Dog(name= "Buddy")

my_Dog.bark()

Woff

**Q34:** Define a class `Rectangle` with `width` and `height` attributes. Add a method `calculate_area()` that returns the area.

In [38]:
class Rectangle():
    def __init__(self,width,height):
        self.width = width
        self.height = height
    def calculate_sum(self):
        return self.height * self.width

**Q35:** Create a `Rectangle` object with width 10 and height 5, and print its area.

In [39]:
my_rectangle = Rectangle(width=10,height=5)

my_rectangle.calculate_sum()

50

**Q36:** Define a class `BankAccount` with a private attribute `__balance`. Add a getter `get_balance()` and a method `deposit(amount)`.

In [ ]:
class bankAccount():
    def __init__(self,balance):
        self.__balance = balance
    
    def get_balance(self):
       return self.__balance
    
    def deposit(self,amount):
        self.__balance += amount
        

my_account = bankAccount(balance=1000)

print(my_account.get_balance())

my_account.deposit(amount=1000)

print(my_account.get_balance())

1000
2000

**Q37:** Create a parent class `Animal` with a method `eat()`. Create a child class `Cat` that inherits from `Animal`.

In [41]:
class Animal():
    def eat(self):
        pass

**Q38:** In the `Cat` class, override the `eat()` method to print "The cat is eating."

In [42]:
class Cat(Animal):
    def eat(self):
        print("The cat is eating")

**Q39:** Create a `Cat` object and a `Dog` object (from Q31). Write a function `feed_animal(animal)` that takes either object and calls its `eat()` method (assuming `Dog` also has an `eat` method).

In [48]:
feed_animal = lambda x: x.eat()

feed_animal(Cat())
feed_animal(Dog(name="Buddy"))

The cat is eating
Dog also eat

**Q40:** Import `ABC` and `abstractmethod`. Define an abstract class `Vehicle` with an abstract method `start_engine()`.

In [58]:


from abc import ABC, abstractmethod
class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass

### Part 5: Putting It All Together

**Q41:** Define a function that takes a list of numbers and returns a new list containing only the positive even numbers.

In [2]:
# Define a function that takes a list of numbers and returns a new list containing only the positive even numbers

def positive_even_numbers(numbers):
    return [num for num in numbers if num > 0 and num % 2 == 0]

# Example usage
input_list = [-10, 15, 22, -3, 8, 0, -7, 14]
output_list = positive_even_numbers(input_list)
print(output_list)

[22, 8, 14]

**Q42:** Define a function that takes a list of strings and returns a dictionary with the count of strings that start with 'a', 'b', and 'c'.

In [4]:
# **Q42:** Define a function that takes a list of strings and returns a dictionary with the count of strings that start with 'a', 'b', and 'c'.
def count_strings_by_starting_letter(strings):
    counts = {'a': 0, 'b': 0, 'c': 0}
    for s in strings:
        if s.startswith(('a', 'b', 'c')):
            counts[s[0]] += 1
    return counts

# Example usage
strings = ["apple", "banana", "avocado", "cherry", "blueberry", "date", "apricot"]
result = count_strings_by_starting_letter(strings)
print(result)

{'a': 3, 'b': 2, 'c': 1}

**Q43:** Define a class `Course` with attributes `name` and `students` (a list of names). Add a method `add_student(name)`.

In [6]:
# **Q43:** Define a class `Course` with attributes `name` and `students` (a list of names). Add a method `add_student(name)`.
class Course:
    def __init__(self, name):
        self.name = name
        self.students = []
    
    def add_student(self, name):
        self.students.append(name)

**Q44:** In the `Course` class, add a method `get_student_count()` that returns the number of students.

In [7]:
# **Q44:** In the `Course` class, add a method `get_student_count()` that returns the number of students.
class Course:
    def __init__(self, name):
        self.name = name
        self.students = []

    def add_student(self, name):
        self.students.append(name)

    def get_student_count(self):
        return len(self.students)

**Q45:** The `data` dictionary is given. Access the second element in the `points` list.

In [8]:
data = {"id": "A1", "points": [10, 20, 30]}
# Your code here
second_element = data["points"][1]
print(second_element)

20

**Q46:** Define a function that takes a list of dictionaries and returns the name of the person with the highest score.

In [9]:
students = [{'name': 'Raj', 'score': 82}, {'name': 'Priya', 'score': 91}]
# Your code here
top_student = max(students, key=lambda x: x['score'])
print(top_student)

{'name': 'Priya', 'score': 91}

**Q47:** Define a function that takes a string and returns a new string with all vowels removed.

In [10]:
remove_vowels = lambda s: ''.join([char for char in s if char.lower() not in 'aeiou'])
print(remove_vowels("Hello World"))

Hll Wrld

**Q48:** Define a class `Book` with `title` and `author`. Implement the `__str__` method to return a string like `"'The Hobbit' by J.R.R. Tolkien"`.

In [13]:
# **Q48:** Define a class `Book` with `title` and `author`. Implement the `__str__` method to return a string like `"'The Hobbit' by J.R.R. Tolkien"`.
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def __str__(self):
        return f"'{self.title}' by {self.author}"
my_book = Book("The Hobbit", "J.R.R. Tolkien")
print(my_book)

'The Hobbit' by J.R.R. Tolkien

**Q49:** Create a list comprehension that generates a list of numbers from 1 to 100 that are divisible by both 5 and 7.

In [14]:
[i for i in range(101) if i % 5 == 0 and i % 7 == 0]

[0, 35, 70]

**Q50:** Create a dictionary comprehension from the `words` list, where keys are the words and values are `True` if the word is a palindrome.

In [15]:
words = ["level", "cat", "radar", "dog", "madam"]
# Your code here
{i: True if i == i[::-1] else False for i in words}

{'level': True, 'cat': False, 'radar': True, 'dog': False, 'madam': True}