In [1]:
def adder(*args):
    print (sum(args))

In [2]:
adder(1,2,3,4,5,3)

18

In [3]:
def adder(**kwargs):
    a=kwargs["a"]
    b=kwargs["b"]
    operation=kwargs["operation"]
    
    print(eval(f"{a}{operation}{b}"))

In [4]:
adder(a=1, b=2, operation="/")

0.5

# lamda function - one liner function
#### syntax 
### fucntion_name = lambda (parameter) : process

In [9]:
lambda_f = lambda string : string.upper()

In [10]:
lambda_f(string="hey There")

'HEY THERE'

In [11]:
subString = lambda a,b: a in b

In [13]:
subString("hey","hey there")

True

##### Map and filter

In [16]:
def even_odd(num):
    if num % 2 ==0:
        return("even")
    else:
        return("odd")

In [17]:
list(map(even_odd,range(10)))

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [19]:
list(map(lambda num:"even"if(num % 2 ==0) else "odd",range(10)))

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [20]:
squares = lambda x : x**2

In [21]:
squares(10)

100

In [22]:
g = lambda x: x > 5

In [26]:
list(filter(lambda x: x > 5,range(10)))

[6, 7, 8, 9]

In [28]:
fruits = ["apple","chreey","Apricote"]

In [29]:
list(filter(lambda x: x[0].lower()=="a", fruits))

['apple', 'Apricote']

In [33]:
def factorial2(num):
    if num == 1:
        return(1)
    else:
        return num* factorial2(num-1)

In [38]:
factorial2(10)

3628800

# opps

In [44]:
class Student():
    #### class varibles - constant across all object
    school_name = "ABC"
    address = "DEF"
    ####
    def __init__(self,name,age):
        
        self.name=name
        self.age = age

        pass
    #### method
    def attendence(self):
        print('present')

In [45]:
Rahul = Student(name="Rahul",age="17")

In [47]:
Rahul.name

'Rahul'