# Practice: Loops, Conditionals & List Comprehensions

**Instructions:** Solve the following 25 questions. This set combines loops and conditionals and introduces basic list comprehensions. No nested loops are required.

### Part 1: Loops & Conditionals Review

**Q1:** The list `numbers` is given. Use a `for` loop to print all numbers that are less than 10.

In [1]:
numbers = [2, 12, 5, 25, 8]
# Your code here
for i in numbers:
    if(i < 10):
        print(i)

2
5
8

**Q2:** The list `words` is given. Loop through the list and print only the words that end with the letter 't'.

In [6]:
words = ['cat', 'dog', 'elephant', 'rat']
# Your code here
for i in words:
    if(i[-1] == "t"):
        print(i)

cat
elephant
rat

**Q3:** Initialize a `count` variable to 0. Loop through the `data` list and increment the count for every `True` value. Print the final `count`.

In [7]:
data = [True, False, True, True, False]
# Your code here
count=0
for i in data:
    if i:
        count += 1
print(count)

3

**Q4:** The dictionary `scores` is given. Loop through its values and print "Excellent" for any score that is 90 or above.

In [ ]:
scores = {'Math': 95, 'Science': 80, 'English': 92}
# Your code here
for s in scores.values():
    if s > 90:
        print("Excllent")

Excllent 95
Excllent 92

**Q5:** The list of dictionaries `users` is given. Loop through the list and print the `name` of any user whose `city` is 'Pune'.

In [11]:
users = [
    {'name': 'Raj', 'city': 'Mumbai'},
    {'name': 'Priya', 'city': 'Pune'},
    {'name': 'Amit', 'city': 'Pune'}
]
# Your code here
for user in users:
    if user["city"] == "Pune":
        print(user["name"],user['city'])

Priya Pune
Amit Pune

**Q6:** Use a `while` loop to print numbers from 10 down to 1. Stop the loop if the number is 5.

In [15]:
num =10
while num >0:
    if num==5:
        break
    print(num)
    num -=1

10
9
8
7
6

**Q7:** Loop through the `data` list. If you find the string 'stop', break out of the loop. Print every item before 'stop'.

In [16]:
data = [1, 2, 'go', 'start', 'stop', 3, 4]
# Your code here
for item in data:
    if isinstance(item,str):
        break
    else:
        print(item)

1
2

**Q8:** Loop through the `records` list. Print the `id` of any record where the `status` is 'pending'.

In [17]:
records = [
    {'id': 101, 'status': 'complete'},
    {'id': 102, 'status': 'pending'},
    {'id': 103, 'status': 'complete'}
]
# Your code here
for i in records:
    if i['status']=="pending":
        print(i["id"])

102

**Q9:** Create a new empty list `non_empty_words`. Loop through the `words` list and add only the strings that are not empty to your new list. Print `non_empty_words`.

In [18]:
words = ['hello', '', 'world', '', 'python']
# Your code here
list1 = []
for word in words:
    if word:
        list1.append(word)
print(list1)

['hello', 'world', 'python']

**Q10:** The tuple `data` is given. Loop through it and print each item along with its data type.

In [ ]:
data = (1, 'text', 2.5, True)
# Your code here
for i in data: 
    print(i , type(i))

1 <class 'int'>
text <class 'str'>
2.5 <class 'float'>
True <class 'bool'>

### Part 2: List Comprehensions

**Q11:** The list `numbers` is given. Use a list comprehension to create a new list where each number is increased by 1.

In [20]:
numbers = [1, 2, 3, 4, 5]
# Your code here
[i+1 for i in numbers]

[2, 3, 4, 5, 6]

**Q12:** The list `words` is given. Use a list comprehension to create a list containing the length of each word.

In [22]:
words = ['hello', 'world', 'from', 'python']
# Your code here
[(len(i),i) for i in words]

[(5, 'hello'), (5, 'world'), (4, 'from'), (6, 'python')]

**Q13:** Use a list comprehension to create a list of the squares of numbers from 0 to 4. `[0, 1, 4, 9, 16]`

In [23]:
[i*i for i in range(5)]

[0, 1, 4, 9, 16]

**Q14:** The list `fruits` is given. Use a list comprehension to create a new list where each fruit is capitalized.

In [24]:
fruits = ['apple', 'banana', 'cherry']
# Your code here
[fruit.upper() for fruit in fruits]

['APPLE', 'BANANA', 'CHERRY']

**Q15:** The list `numbers` is given. Use a list comprehension to create a list of only the odd numbers.

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Your code here
[num for num in numbers if num%2 !=0]

[1, 3, 5, 7, 9]

**Q16:** The list `names` is given. Use a list comprehension to create a new list containing only the names that are 4 characters long.

In [3]:
names = ['Raj', 'Priya', 'Amit', 'Sonia']
# Your code here
[name for name in names if len(name) == 4]

['Amit']

**Q17:** Use a list comprehension to create a list of all numbers from 1 to 20 that are divisible by 4.

In [6]:
[num for num in range(1,21) if num % 4 == 0]

[4, 8, 12, 16, 20]

**Q18:** The list `data` is given. Use a list comprehension to create a new list containing only the positive numbers.

In [7]:
data = [10, -5, 0, -12, 3]
# Your code here
[num for num in data if num >0]

[10, 3]

**Q19:** The list of dictionaries `users` is given. Use a list comprehension to create a list of all the usernames.

In [8]:
users = [{'username': 'user1', 'age': 20}, {'username': 'user2', 'age': 25}]
# Your code here
[user["username"] for user in users  ]

['user1', 'user2']

**Q20:** The list of dictionaries `products` is given. Use a list comprehension to create a list of the prices.

In [10]:
products = [{'name': 'Book', 'price': 15}, {'name': 'Pen', 'price': 2}]
# Your code here
[price["price"] for price in products]

[15, 2]

**Q21:** The list of dictionaries `users` is given. Use a list comprehension to get the names of users who are older than 25.

In [11]:
users = [{'name': 'Raj', 'age': 28}, {'name': 'Priya', 'age': 22}, {'name': 'Amit', 'age': 35}]
# Your code here
[user["name"] for user in users if user["age"] > 25 ]

['Raj', 'Amit']

**Q22:** The list of tuples `people` is given. Create a list of names for people who are 18 or older.

In [12]:
people = [('Raj', 30), ('Sonia', 17), ('Amit', 18)]
# Your code here
[person[0] for person in people if person[1]>=18]

['Raj', 'Amit']

**Q23:** The list `numbers` is given. Use a list comprehension to create a list of strings, where each number is converted to a string and has 'ID: ' prefixed to it.

In [20]:
numbers = [101, 102, 103]
# Your code here. Expected output: ['ID: 101', 'ID: 102', 'ID: 103']
[ ('ID: '+ str(num)) for num in numbers]

['ID: 101', 'ID: 102', 'ID: 103']

**Q24:** The sentence is given. Create a list of words from the sentence, but only include words that do not contain the letter 'o'.

In [23]:
sentence = "the quick brown fox jumps over the lazy dog"
# Your code here
[sen for sen in sentence.split() if "o" not in sen]

['the', 'quick', 'jumps', 'the', 'lazy']

**Q25:** The list `numbers` is given. Use a list comprehension with an if-else expression to create a new list that contains 'even' for even numbers and 'odd' for odd numbers.

In [24]:
numbers = [1, 2, 3, 4, 5]
# Your code here. Expected output: ['odd', 'even', 'odd', 'even', 'odd']
["even" if num % 2==0 else "odd" for num in numbers]

['odd', 'even', 'odd', 'even', 'odd']