# Practice Questions: Lambda Functions

**Instructions:** Solve the following 50 questions. This set introduces lambda functions, starting with basic syntax and moving to practical uses with built-in functions like `sorted`, `map`, and `filter`.

### Part 1: Basic Lambda Syntax

**Q1:** Create a lambda function that takes one argument `x` and returns `x + 1`. Assign it to a variable called `add_one` and test it.

In [1]:
# Your code here
add_one = lambda x: x+1

print(add_one(5))

6

**Q2:** Create a lambda function that takes one argument `x` and returns its square. Assign it to a variable `square`.

In [3]:
square = lambda x: x**2

print(square(2))

4

**Q3:** Create a lambda function that takes two arguments, `a` and `b`, and returns their product. Assign it to `multiply`.

In [4]:
multiply = lambda a,b: a*b

print(multiply(2,3))

6

**Q4:** Create a lambda function that takes a string `s` and returns it in uppercase. Assign it to `make_upper`.

In [5]:
make_upper = lambda s: s.upper()

make_upper("rahul")

'RAHUL'

**Q5:** Create a lambda function that takes a number `n` and returns `True` if it's even, `False` otherwise. Assign it to `is_even`.

In [8]:
is_even = lambda n: n % 2 == 0

is_even(4)

True

**Q6:** Create a lambda function that takes three arguments `x`, `y`, and `z`, and returns their sum.

In [9]:
three_sum = lambda x,y,z: x+y+z

three_sum(20,30,40)

90

**Q7:** Create a lambda function that takes a string and returns its first character.

In [10]:
first_char = lambda s : s[0]

first_char("Rahul")

'R'

**Q8:** Create a lambda function that takes a list and returns its length.

In [12]:
length = lambda s : len(s)

length("Rahul")

5

**Q9:** Create a lambda function that takes a number and returns `True` if it's positive, `False` otherwise.

In [14]:
postive = lambda x : x > 0

postive(-1)

False

**Q10:** Create a lambda function that takes two numbers `a` and `b` and returns `True` if `a` is greater than `b`.

In [16]:
greater = lambda a,b : a > b

greater(100,20)

True

### Part 2: Using `map()` with Lambda

**Q11:** The list `numbers` is given. Use `map()` and a lambda function to create a new list where each number is doubled. Convert the map object to a list to see the result.

In [19]:
numbers = [1, 2, 3, 4, 5]
# Your code here
list( map(lambda x: x*2,numbers) )

[2, 4, 6, 8, 10]

**Q12:** The list `numbers` is given. Use `map()` and a lambda to create a new list containing the square of each number.

In [20]:
numbers = [1, 2, 3, 4, 5]
# Your code here
list(map(lambda x : x**2,numbers))

[1, 4, 9, 16, 25]

**Q13:** The list `words` is given. Use `map()` and a lambda to create a new list containing the length of each word.

In [21]:
words = ['apple', 'banana', 'cherry']
# Your code here

list(map(lambda x : len(x),words))

[5, 6, 6]

**Q14:** The list `names` is given. Use `map()` and a lambda to create a new list where each name is converted to uppercase.

In [22]:
names = ['raj', 'priya', 'amit']
# Your code here

list(map(lambda x: x.upper(),names))

['RAJ', 'PRIYA', 'AMIT']

**Q15:** The list `numbers` is given. Use `map()` and a lambda to create a new list where each number is converted to a string.

In [23]:
numbers = [10, 20, 30]
# Your code here
list(map(lambda x : str(x),numbers))

['10', '20', '30']

### Part 3: Using `filter()` with Lambda

**Q16:** The list `numbers` is given. Use `filter()` and a lambda function to create a new list containing only the even numbers.

In [24]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Your code here
list(filter(lambda x : x%2 ==0, numbers))

[2, 4, 6, 8, 10]

**Q17:** The list `numbers` is given. Use `filter()` and a lambda to create a new list containing only the numbers greater than 10.

In [25]:
numbers = [5, 12, 8, 15, 3, 20]
# Your code here
list(filter(lambda x : x > 10, numbers ))

[12, 15, 20]

**Q18:** The list `words` is given. Use `filter()` and a lambda to create a new list containing only the words that start with the letter 'a'.

In [27]:
words = ['apple', 'banana', 'Apricot', 'cherry']
# Your code here
list(filter(lambda x: x[0].lower() == "a", words))

['apple', 'Apricot']

**Q19:** The list `data` is given. Use `filter()` and a lambda to create a new list containing only the positive numbers.

In [28]:
data = [10, -5, 8, 0, -12, 3]
# Your code here
list(filter(lambda x: x > 0, data))

[10, 8, 3]

**Q20:** The list `words` is given. Use `filter()` and a lambda to create a list of words with a length of exactly 5.

In [29]:
words = ['apple', 'kiwi', 'grape', 'lemon', 'mango']
# Your code here
list(filter(lambda x: len(x) == 5, words))

['apple', 'grape', 'lemon', 'mango']

**Q21:** The list `data` is given. Use `filter()` and a lambda to remove all `None` values.

In [30]:
data = [1, None, 2, 3, None, 4]
# Your code here

list(filter(lambda x : x != None, data))

[1, 2, 3, 4]

**Q22:** Use `filter()` and a lambda to get all numbers from 1 to 20 that are divisible by 3.

In [31]:
numbers = range(1, 21)
# Your code here
list(filter(lambda x: x%3 == 0,numbers))

[3, 6, 9, 12, 15, 18]

**Q23:** The list `mixed` is given. Use `filter()` and a lambda to create a new list containing only the integers.

In [32]:
mixed = [10, 'hello', 20.5, 30, True]
# Your code here
list(filter(lambda x: type(x)==int,mixed))

[10, 30]

**Q24:** The list `names` is given. Use `filter()` and a lambda to get a list of names that contain the letter 'i'.

In [33]:
names = ["Amit", "Ravi", "Asha", "Priya"]
# Your code here

list(filter(lambda x: "i" in  x, names))

['Amit', 'Ravi', 'Priya']

**Q25:** Use `filter()` and a lambda to get all numbers from 1 to 30 that are divisible by both 2 and 3.

In [34]:
numbers = range(1, 31)
# Your code here
list(filter(lambda x: x%2 ==0 and x%3 ==0,numbers))

[6, 12, 18, 24, 30]

### Part 4: Using `sorted()` with Lambda

**Q26:** The list `words` is given. Use `sorted()` and a lambda function to sort the list by the length of each word.

In [35]:
words = ['apple', 'kiwi', 'banana', 'grape']
# Your code here
sorted(words,key=len)

['kiwi', 'apple', 'grape', 'banana']

**Q27:** The list `words` is given. Use `sorted()` and a lambda to sort the list by the last character of each word.

In [38]:
words = ['apple', 'kiwi', 'banana', 'grape']
# Your code here
sorted(words,key=lambda i : i[-1])

['banana', 'apple', 'grape', 'kiwi']

**Q28:** The list of tuples `people` is given. Sort the list based on the age (the second element of the tuple).

In [39]:
people = [('Raj', 30), ('Sonia', 22), ('Amit', 26)]
# Your code here
sorted(people,key = lambda x: x[1])

[('Sonia', 22), ('Amit', 26), ('Raj', 30)]

**Q29:** The list of tuples `people` is given. Sort the list based on the name (the first element of the tuple).

In [41]:
people = [('Raj', 30), ('Sonia', 22), ('Amit', 26)]
# Your code here
sorted(people,key= lambda x: x[0])

[('Amit', 26), ('Raj', 30), ('Sonia', 22)]

**Q30:** The list of dictionaries `students` is given. Sort the list based on the `score` of each student.

In [42]:
students = [{'name': 'Raj', 'score': 82}, {'name': 'Priya', 'score': 91}, {'name': 'Amit', 'score': 75}]
# Your code here
sorted(students,key= lambda x: x["score"])

[{'name': 'Amit', 'score': 75},
 {'name': 'Raj', 'score': 82},
 {'name': 'Priya', 'score': 91}]

**Q31:** The list of dictionaries `students` is given. Sort the list based on the length of each student's `name`.

In [43]:
students = [{'name': 'Raj', 'score': 82}, {'name': 'Priya', 'score': 91}, {'name': 'Amitabh', 'score': 75}]
# Your code here
sorted(students, key= lambda x: len(x["name"]))

[{'name': 'Raj', 'score': 82},
 {'name': 'Priya', 'score': 91},
 {'name': 'Amitabh', 'score': 75}]

**Q32:** The list `numbers` is given. Sort it based on the remainder when each number is divided by 5.

In [ ]:
numbers = [1, 6, 2, 7, 3, 8]
# Your code here
sorted(numbers, key = lambda x: x % 5)

[1, 6, 2, 7, 3, 8]

**Q33:** The list of dictionaries `products` is given. Sort the list in descending order based on the `price`.

In [54]:
products = [{'name': 'Mouse', 'price': 750}, {'name': 'Book', 'price': 900}, {'name': 'Mug', 'price': 400}]
# Hint: use the reverse=True argument in sorted()
sorted(products,key = lambda x: x["price"],reverse=True)

[{'name': 'Book', 'price': 900},
 {'name': 'Mouse', 'price': 750},
 {'name': 'Mug', 'price': 400}]

**Q34:** The list of tuples `points` is given. Sort the list based on the sum of the x and y coordinates.

In [55]:
points = [(1, 5), (3, 2), (2, 4)] # Sums are 6, 5, 6
# Your code here
sorted(points,key= lambda x: x[0]+x[1])

[(3, 2), (1, 5), (2, 4)]

**Q35:** The dictionary `data` is given. Sort its items based on the values (the numbers).

In [57]:
data = {'a': 3, 'b': 1, 'c': 2}
# Hint: use data.items()
# Your code here
sorted(data.items(), key= lambda x : x[1] )

[('b', 1), ('c', 2), ('a', 3)]

### Part 5: Medium Level Combination Problems

**Q36:** The list `numbers` is given. First, use `filter()` to get only the even numbers, then use `map()` to square them.

In [60]:
numbers = [1, 2, 3, 4, 5, 6]
# Your code here
even_num = list(filter(lambda x : x%2==0,numbers))

list(map(lambda x: x**2, even_num))

[4, 16, 36]

**Q37:** The list `names` is given. First, filter the list to get names longer than 3 characters, then convert them to uppercase.

In [61]:
names = ['Raj', 'Priya', 'Al', 'Amit']
# Your code here
list(map(lambda x:x.upper(),list(filter(lambda x: len(x) > 3,names))))

['PRIYA', 'AMIT']

**Q38:** The list of dictionaries `products` is given. Find the product with the highest price.

In [62]:
products = [{'name': 'Mouse', 'price': 750}, {'name': 'Book', 'price': 900}, {'name': 'Mug', 'price': 400}]
# Hint: use the max() function with a lambda key

max(products,key=lambda x: x["price"])

{'name': 'Book', 'price': 900}

**Q39:** The list of dictionaries `products` is given. Find the product with the lowest price.

In [63]:
products = [{'name': 'Mouse', 'price': 750}, {'name': 'Book', 'price': 900}, {'name': 'Mug', 'price': 400}]
# Hint: use the min() function with a lambda key
min(products,key=lambda x: x["price"])

{'name': 'Mug', 'price': 400}

**Q40:** A dictionary has functions stored as values. Call the 'add' function with arguments 10 and 5.

In [64]:
operations = {
    'add': lambda x, y: x + y,
    'subtract': lambda x, y: x - y
}
# Your code here
operations["add"](10,5)

15

**Q41:** The list `numbers` is given. Use `map()` and a lambda to create a list of strings saying "Even" or "Odd" for each number.

In [65]:
numbers = [1, 2, 3, 4, 5]
# Your code here
list(map(lambda x: "even" if x%2==0 else "odd",numbers))

['odd', 'even', 'odd', 'even', 'odd']

**Q42:** The list of dictionaries `users` is given. Use `filter()` and a lambda to get a list of users whose name starts with 'P'.

In [67]:
users = [{'name': 'Raj'}, {'name': 'Priya'}, {'name': 'Pooja'}]
# Your code here
list(filter(lambda x: x["name"][0] == "P",users))

[{'name': 'Priya'}, {'name': 'Pooja'}]

**Q43:** The list of tuples `data` is given. Sort the list based on the second item of each tuple in descending order.

In [68]:
data = [('A', 10), ('B', 30), ('C', 20)]
# Your code here
sorted(data,key= lambda x : x[1],reverse=True)

[('B', 30), ('C', 20), ('A', 10)]

**Q44:** The list `numbers` is given. Use `map()` and a lambda to create a new list where each number is clamped between 0 and 100 (i.e., if a number is > 100, it becomes 100; if < 0, it becomes 0).

In [69]:
numbers = [-10, 50, 110, 25]
# Your code here (Hint: use if/else inside the lambda)
list(map(lambda x : 100 if(x > 100) else (0 if(x < 0) else x), numbers))

[0, 50, 100, 25]

**Q45:** The list of dictionaries `students` is given. Find the student with the longest name.

In [70]:
students = [{'name': 'Raj'}, {'name': 'Priyanka'}, {'name': 'Amit'}]
# Hint: use max() with a lambda key
max(students, key= lambda x:len(x["name"]))

{'name': 'Priyanka'}

**Q46:** Create a lambda function that takes a dictionary and returns the value of the 'id' key. Use this lambda to map the `data` list to a new list of IDs.

In [73]:
data = [{'id': 1, 'val': 'A'}, {'id': 2, 'val': 'B'}]
# Your code here
list(map(lambda x: {x["id"]:x["val"] } , data))

[{1: 'A'}, {2: 'B'}]

**Q47:** The list `data` is given. Use `filter()` and a lambda to get a list of all items that are not `None` and not an empty string.

In [72]:
data = [1, '', 'hello', None, 2, '']
# Your code here

list(filter(lambda x : x != None, data))

[1, '', 'hello', 2, '']

**Q48:** The list of dictionaries `events` is given. Sort the events based on their `timestamp`.

In [74]:
events = [{'ts': 102, 'event': 'click'}, {'ts': 100, 'event': 'load'}, {'ts': 101, 'event': 'hover'}]
# Your code here

sorted(events, key= lambda x: x["ts"])

[{'ts': 100, 'event': 'load'},
 {'ts': 101, 'event': 'hover'},
 {'ts': 102, 'event': 'click'}]

**Q49:** The list `numbers` is given. Use `map()` to add 5 to each number, then use `filter()` to keep only the numbers that are now greater than 10.

In [75]:
numbers = [1, 2, 3, 4, 5, 6, 7]
# Your code here
list(filter(lambda x: x > 10, map(lambda x: x+5,numbers)))

[11, 12]

**Q50:** The list of dictionaries `users` is given. Find the user with the highest `age`.

In [76]:
users = [{'name': 'Raj', 'age': 28}, {'name': 'Priya', 'age': 32}, {'name': 'Amit', 'age': 30}]
# Hint: use max()
max(users,key= lambda x:x["age"])

{'name': 'Priya', 'age': 32}