# Python Iterations — 50 Practice Assignments (No Functions) + Examples
Prepared on **2025-08-13**

These problems are ordered from easy → hard. They are designed to drill:
- `for` and `while` loops
- `break`, `continue`, and `for/while ... else`
- nested loops
- edge case handling

**How to use this notebook**
- Each task has a markdown description with a **Sample Input** and **Expected Output**, followed by an **empty code cell** where you write your solution directly.
- You do not need to create functions. Just write the loop logic in the code cell.
- Use the provided sample input as a quick test, then try your own.

**Difficulty bands**
- Q1–Q12: Warm-up loops
- Q13–Q24: Controlling flow with `break`/`continue`/`else`
- Q25–Q36: Nested loops and patterns
- Q37–Q50: Advanced loop challenges

## Q1. Print 1…N

Given `n>0`, print numbers from 1 to n in one line separated by spaces using a `for` loop.

**Sample Input**
```python
n = 5
```
**Expected Output**
```
1 2 3 4 5
```

In [10]:
# Write your code here
for i in range(1,6):
    print(i ,end= " ")

[ i  for i in range(1,6)]

1 2 3 4 5

[1, 2, 3, 4, 5]

## Q2. Sum 1…N (no sum())

Print the sum of integers from 1 to `n` using a loop only.

**Sample Input**
```python
n = 6
```
**Expected Output**
```
21
```

In [148]:
# Write your code here
n = 6
sum1 =0
for i in range(1 , n+1):
    sum1 = sum1 + i
print(sum1)
# [sum1 for i  in range(1,7) sum1 +=i]

21

## Q3. Count vowels in a string

Count vowels `a,e,i,o,u` (case-insensitive) in a string using a loop and print the count.

**Sample Input**
```python
s = 'Hello World'
```
**Expected Output**
```
3
```

In [23]:
# Write your code here
s = "Hello World"
vowels = ["a","e","i","o","u"]
count = 0
for i in s:
    if  i.lower() in vowels:
        count +=1
print(count)

3

## Q4. Reverse a string (no slicing/reversed)

Print the reverse of `s` by iterating over characters.

**Sample Input**
```python
s = 'python'
```
**Expected Output**
```
nohtyp
```

In [ ]:
# Write your code here
s ="python"

reverse =""

for i in s:
    reverse = i + reverse

print(reverse)

nohtyp

## Q5. Find minimum (no min())

Find and print the minimum element of a list using a loop.

**Sample Input**
```python
nums = [4, 2, 9, -1, 5]
```
**Expected Output**
```
-1
```

In [48]:
# Write your code here
min = float("inf")
nums = [4, 2, 9, -1, 5]
for i in nums:
    if i < min:
        min = i
print(min)

-1

## Q6. Count evens (use continue)

Count how many numbers in a list are even using `continue`.

**Sample Input**
```python
nums = [3, 6, 7, 10, 12, 15]
```
**Expected Output**
```
3
```

In [35]:
# Write your code here
nums = [3, 6, 7, 10, 12, 15]
count =0

for i in nums:
    if i %2 != 0:
        continue
    count +=1
print(count)

3

## Q7. Times table for N

Print the multiplication table for N from 1 to 10. One line per product.

**Sample Input**
```python
N = 3
```
**Expected Output**
```
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
```

In [45]:
# Write your code here
n = 10

for i in range(1,11):
    print(f"{n} X {i} = {n*i}")

print([f"{n} X {i} = {n*i}" for i in range(1,11)])

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100
['10 X 1 = 10', '10 X 2 = 20', '10 X 3 = 30', '10 X 4 = 40', '10 X 5 = 50', '10 X 6 = 60', '10 X 7 = 70', '10 X 8 = 80', '10 X 9 = 90', '10 X 10 = 100']

## Q8. Factorial with while

Compute `n!` using a `while` loop.

**Sample Input**
```python
n = 5
```
**Expected Output**
```
120
```

In [37]:
# Write your code here
n = 1
i = 1
while  i<=5:
    n = n*i
    i+=1
print(n)

120

## Q9. Sum of digits

Find and print the sum of digits of a non-negative integer.

**Sample Input**
```python
n = 90721
```
**Expected Output**
```
19
```

In [149]:
# Write your code here
n = 90721
sum2 = 0
while n> 0:
   sum2 += n%10
   n = n//10
print(sum2)

19

## Q10. First N Fibonacci (iterative)

Print the first `n` Fibonacci numbers on one line separated by spaces (starting 0, 1).

**Sample Input**
```python
n = 7
```
**Expected Output**
```
0 1 1 2 3 5 8
```

In [56]:
# Write your code here
n = 7
fib = [0,1]
for i in range(n-1):

    fib.append(fib[i]+fib[i+1])
print(fib)
[ fib[i]+fib[i+1] for i in range(n) ]
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13]
[0, 1, 1, 2, 3, 5, 8, 13]

## Q11. First index (use for…else)

Find and print the **index** of target in list using `for…else` or print `-1` if not found.

**Sample Input**
```python
nums = [10, 20, 30, 20]; target = 20
```
**Expected Output**
```
1
```

In [ ]:
# Write your code here
nums = [10, 20, 30, 20]
target = 20
 
for idx,i in enumerate(nums):
    if target == i:
        print(idx)
        break
else:
    print(-1)

[idx for idx,i in enumerate(nums) if target==i]

1

[1, 3]

## Q12. Manual word count (no split)

Count and print words in a string without using `.split()` (words separated by one or more spaces).

**Sample Input**
```python
s = '  Data   Science   with  Python  '
```
**Expected Output**
```
4
```

In [ ]:
# Write your code here
s = '  Data   Science   with  Python  '
in_word = False
count = 0
for ch in s:
    if ch != ' ' and not in_word:
        count += 1
        in_word = True
    elif ch == ' ':
        in_word = False

print(count)

4

## Q13. Stop when sum exceeds T (use break)

Accumulate numbers until sum would exceed T, then stop. Print final sum and last number added.

**Sample Input**
```python
nums = [5, 11, 14, 7]; T = 20
```
**Expected Output**
```
20 14
```

In [151]:
# Write your code here
nums = [5, 11, 14, 7,44]
T = 20
sum3 = 0
last = None
for  i,idx in enumerate(nums):
    sum3 += i
    if sum3 >= T:
        last = idx
        break
print(sum3,i)

10 4

## Q14. First prime in list (use for…else)

Find and print the first prime number in list or `None` if none found.

**Sample Input**
```python
nums = [1, 8, 12, 15, 17, 21]
```
**Expected Output**
```
17
```

In [97]:
# Write your code here
nums = [1, 8, 12, 15, 17, 21]

last = 0

for i in nums:
    for j in range(2,i//2):
        if i % j == 0:
           break
    else:
        last = i
else:
    print(last)

17

## Q15. Skip digits (use continue)

Remove digits from a string and print the result.

**Sample Input**
```python
s = 'a1b2c3x9y'
```
**Expected Output**
```
abcxy
```

In [101]:
# Write your code here
s = 'a1b2c3x9y'
str1 = ""
for i in s:
    if i.isdigit():
        continue
    else:
        str1 = str1 + i

print(str1)

abcxy

## Q16. First repeated element

Find the **index of the second occurrence** of the first repeating element and print it; otherwise `-1`.

**Sample Input**
```python
nums = [4, 2, 9, 2, 4, 2]
```
**Expected Output**
```
3
```

In [103]:
# Write your code here

nums = [4, 2, 9, 2, 4, 2]
sets = set()

for idx,i in enumerate(nums):
    if i in sets:
        print(idx)
        break
    else:
        sets.add(i)

3

## Q17. Password attempts (while + break/else)

Given correct password and attempts list, print attempt number (1-based) when it succeeds, else `-1`.

**Sample Input**
```python
correct = 'open-sesame'; attempts = ['test', 'nope', 'open-sesame', 'later']
```
**Expected Output**
```
3
```

In [108]:
# Write your code here
correct = 'open-sesame'; attempts = ['test', 'nope',"sdadsads", 'open-sesame', 'later']

# for idx, i in enumerate(attempts):
#     if i == correct:
#         print(idx+1)
#         break
# else:
#     print(-1)

a = 0

while a < len(attempts):
     if attempts[a] == correct:
        print(a+1)
        break
     else:
         a += 1
else:
    print(-1)

4

## Q18. Remove consecutive duplicates

Print list without consecutive duplicates.

**Sample Input**
```python
nums = [1,1,2,2,2,3,2,2,4]
```
**Expected Output**
```
[1, 2, 3, 2, 4]
```

In [112]:
# Write your code here
nums = [1,1,2,2,2,3,2,2,4]
list1 = []
prev = None

for i in nums:
    if i == prev :
        continue
    else:
        list1.append(i)
        prev = i
print(list1)

[1, 2, 3, 2, 4]

## Q19. Unique char count (no set)

Count and print unique characters in string without using set.

**Sample Input**
```python
s = 'mississippi'
```
**Expected Output**
```
4
```

In [115]:
# Write your code here
s = 'mississippi'
count = 0
str1 = ""
for i in s:
    if i not in str1:
       str1 += i
       count += 1
    else:
        continue
print(count, str1)

4 misp

## Q20. Words starting with vowel (use continue)

Count how many words start with a vowel (a,e,i,o,u).

**Sample Input**
```python
s = 'apple egg ball orange ink up cat'
```
**Expected Output**
```
6
```

In [120]:
# Write your code here
s = 'apple egg ball orange ink up cat'
vowels = 'aeiou'
count = 0

for word in s.split():
    if word[0].lower() not in vowels:
        continue
    count += 1

print(count)

5

## Q21. Dot product (no sum/zip)

Compute dot product of two equal-length lists using a loop.

**Sample Input**
```python
a = [1, 3, -2]; b = [4, 0, -1]
```
**Expected Output**
```
6
```

In [123]:
# Write your code here
a = [1, 3, -2]; b = [4, 0, -1]
sum = 0
for i in range(len(a)):
     sum += a[i]*b[i]

print(sum)

6

## Q22. Stop on first negative (use break)

Print numbers from the start until the first negative number appears (exclude the negative).

**Sample Input**
```python
nums = [2, 5, 7, -3, 9]
```
**Expected Output**
```
2 5 7
```

In [3]:
# Write your code here
nums = [2, 5, 7, -3, 9]
for i in nums:
    if i < 0 :
        break
    else: 
        print(i, end=" ")

2 5 7

## Q23. Square dict values

Given a dict with int values, print a new dict with squared values.

**Sample Input**
```python
d = {'a': 2, 'b': -3, 'c': 0}
```
**Expected Output**
```
{'a': 4, 'b': 9, 'c': 0}
```

In [22]:
# Write your code here
d = {'a': 2, 'b': -3, 'c': 0}
new = {}
for k,i in d.items():
    new[k] = i**2

print(new)
 
new = {k:i**2 for k,i in d.items()} 
print(new)

{'a': 4, 'b': 9, 'c': 0}
{'a': 4, 'b': 9, 'c': 0}

## Q24. Row sums of a matrix

Given a 2D list (matrix), print the sum of each row (one number per line).

**Sample Input**
```python
matrix = [[1,2,3],[4,5,6],[7,8,9]]
```
**Expected Output**
```
6
15
24
```

In [28]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]
# Write your code here

for r in matrix:
    sum =0
    for c in r:
        sum +=c
    print(sum)

6
15
24

## Q25. Right triangle of stars

Given height `h`, print a right triangle (row i has i stars).

**Sample Input**
```python
h = 4
```
**Expected Output**
```
*
**
***
****
```

In [ ]:
# Write your code here
n = 4
for i in range(1,n+1):
    print("*"*i)

*
**
***
****

## Q26. Multiplication grid

Given `n`, print an `n×n` multiplication table (rows on separate lines, values space-separated).

**Sample Input**
```python
n = 3
```
**Expected Output**
```
1 2 3
2 4 6
3 6 9
```

In [91]:
# Write your code here
n= 5
for i in range(1,n+1):
    for j in range(1,n+1):
        print(i*j, end=" ")
    print("")   

print([[i*j for i in range(1,n+1)] for j in range(1,n+1) ])

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
[[1, 2, 3, 4, 5], [2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20], [5, 10, 15, 20, 25]]

## Q27. Transpose a matrix (no zip)

Print the transpose of a 2D list.

**Sample Input**
```python
m = [[1,2,3],[4,5,6]]
```
**Expected Output**
```
1 4
2 5
3 6
```

In [89]:
# Write your code here
m = [[1,2,3],[4,5,6]]
row =len(m)
col = len(m[0])
for j in range(col):
    for i in range(row):
        print(m[i][j],end =" ")
    print(" ")
    
print([[m[i][j] for i in range(row)] for j in range(col) ])

1 4
2 5
3 6
[[1, 4], [2, 5], [3, 6]]

## Q28. Count pairs summing to K

Count pairs `(i,j)` with `i<j` where `nums[i]+nums[j]==K` using nested loops.

**Sample Input**
```python
nums = [1, 5, 7, -1, 5]; K = 6
```
**Expected Output**
```
3
```

In [86]:
# Write your code here
nums = [1, 5, 7, -1, 5]
K = 6
count = 0
for i in range(len(nums)):
    for j in  range(i + 1,len(nums)):
        if nums[i] + nums[j] == K:
            count += 1

print(count)
counts = [(i,j) for i in range(len(nums)) for j in  range(i + 1,len(nums)) if nums[i] + nums[j] == K ]

len(counts)

3

3

## Q29. All substrings of a string

Print all substrings of `s` (one per line) using nested loops.

**Sample Input**
```python
s = 'abc'
```
**Expected Output**
```
a
ab
abc
b
bc
c
```

In [5]:
# Write your code here
s="abc"

for i in range(len(s)):
    for j in range(i + 1, len(s) + 1):
        print(s[i:j])

a
ab
abc
b
bc
c

## Q30. Primes up to N (for…else inner)

Print all primes `≤ N` separated by spaces.

**Sample Input**
```python
N = 15
```
**Expected Output**
```
2 3 5 7 11 13
```

In [29]:
# Write your code here
N =15

for i in range(2,N+1):
    for j in range(2, int(i**0.5)+1):
        if i % j == 0:
            break
    else:
        print(i, end=" ")

2 3 5 7 11 13

## Q31. Matrix symmetry check

Print `True` if a square matrix is symmetric, else `False`.

**Sample Input**
```python
m = [[1,2,3],[2,5,6],[3,6,9]]
```
**Expected Output**
```
True
```

In [56]:
# Write your code here
m = [[1,2,3],[2,5,2,4],[3,6,9]]
n = len(m)
sym = True
for i in range(n):
    for j in range(n):
        if m[i][j] != m[j][i]:
            sym = False
            break

print(True)

True

## Q32. Merge two sorted lists (while)

Merge two sorted lists into one sorted list and print it.

**Sample Input**
```python
a = [1,4,7]; b = [2,3,6,8]
```
**Expected Output**
```
[1, 2, 3, 4, 6, 7, 8]
```

In [ ]:
# Write your code here
a = [1,4,7]; b = [2,3,6,8]
i=0
j=0
sorted_list = []

while(i < len(a) and j < len(b)):
    if a[i] < b[j]:
        sorted_list.append(a[i])
        i+=1
    else:
        sorted_list.append(b[j])
        j+=1
sorted_list.extend(a[i:])
sorted_list.extend(b[j:])
print(sorted_list)

[1, 4, 7, 2, 3, 6, 8]

## Q33. Rotate list right by k (no slicing)

Print a **new** list rotated right by `k` positions using loops only.

**Sample Input**
```python
nums = [10, 20, 30, 40, 50]; k = 2
```
**Expected Output**
```
[40, 50, 10, 20, 30]
```

In [99]:
# Write your code here
# nums = [10, 20, 30, 40, 50,60]; k =6
# nums1 = [0]*len(nums)
# for i in range(len(nums)):
#     if(i+k > len(nums)-1):
#         nums1[(i+k)-len(nums)] = nums[i]
#     else:
#         nums1[i+k] = nums[i]

# print(nums1)

nums = [10, 20, 30, 40, 50, 60]
k = 5
n = len(nums)
nums1 = [0] * n

for i in range(n):
    nums1[(i+k) % n] = nums[i]

print(nums1)

[20, 30, 40, 50, 60, 10]

## Q34. Pascal's triangle

Print the first `n` rows of Pascal's triangle (one row per line, values space-separated).

**Sample Input**
```python
n = 5
```
**Expected Output**
```
1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
```

In [103]:
# Write your code here

def pascal_triangle(n):
    for i in range(n):
        # spacing for nice triangle shape
        # print(" " * (n - i), end="")  
        num = 1
        for j in range(i + 1):
            print(num, end=" ")
            # Calculate next number in row
            num = num * (i - j) // (j + 1)
           
        print()

pascal_triangle(6)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1

## Q35. Most frequent element (no Counter)

Print the element with the highest frequency in `nums`. Break ties by first appearance.

**Sample Input**
```python
nums = [3, 1, 3, 2, 2, 3, 1, 2, 2]
```
**Expected Output**
```
2
```

In [ ]:
# Write your code here
nums = [3, 1, 3, 2, 2, 3, 1, 2, 2, 5,5,1,1,1,1]
dict_nums = {}
intial_value = 0
for i in nums:
    if i in dict_nums:
        dict_nums[i] +=1
    else:
        dict_nums[i] = 1 
max = 0
max_key = None
for key,value in dict_nums.items():

    if( value > max):
        max = value
        max_key = key

print(max_key)

1

## Q36. Flatten 2D list

Given a 2D list of integers, print a single flat list.

**Sample Input**
```python
matrix = [[1,2],[3,4,5],[6]]
```
**Expected Output**
```
[1, 2, 3, 4, 5, 6]
```

In [131]:
# Write your code here
matrix = [[1,2],[3,4,5],[6]]

list1 = [j for i in matrix for j in i]
print(list1)

[1, 2, 3, 4, 5, 6]

## Q37. Max window sum of size k

Given `nums` and window size `k`, print the maximum sum of any contiguous window of length `k`.

**Sample Input**
```python
nums = [2, 1, 5, 1, 3, 2]; k = 3
```
**Expected Output**
```
9
```

In [1]:
# Write your code here
# nums = [2, 1, 5, 1, 3 , 2,9]; k = 3
# max_sum = 0
# for i in range((len(nums)-k)+1):
#     sum1 = 0
#     for j in range(i,i+k):
#          sum1 += nums[j] 
#     print(sum1)
#     if(sum1 > max_sum):
#          max_sum = sum1
    
# print(max_sum)
# above has n*k time complexity

# these o(n) complexity  
nums = [2, 1, 5, 1, 3, 2, 9]
k = 3

# Step 1: Find sum of first window
window_sum = sum(nums[:k])   # works now, no conflict
max_sum = window_sum

# Step 2: Slide the window
for i in range(k, len(nums)):
    window_sum += nums[i] - nums[i - k]   # add new, remove old
    max_sum = max(max_sum, window_sum)

print(max_sum)

14

## Q38. Longest run in a string

Print `(char, length)` for the longest consecutive run of the same character in `s`. If `s` is empty, print `('', 0)`.

**Sample Input**
```python
s = 'aaabbccccdde'
```
**Expected Output**
```
(c, 4)
```

In [13]:
# Write your code here
s="aaabbccccddeeeeeeeeee"
count = 1
max_count = 0
char =s[0] if s else ""

for i in range(len(s)-1):
    if s[i] == s[i+1]:
        count+=1
    else:
        count = 1
    if count > max_count:
        max_count = count
        char = s[i]
print(char, max_count)

e 10

## Q39. Run-length encoding (RLE)

Print a list of tuples `(char, count)` representing the run-length encoding of `s`.

**Sample Input**
```python
s = 'aaabbc'
```
**Expected Output**
```
[('a', 3), ('b', 2), ('c', 1)]
```

In [19]:
# Write your code here

s="aaabbcddeeeeeeeeee"
count = 1
char =s[0] if s else ""
list_char = [ ]

for i in range(len(s)-1):
    char = s[i]
    if s[i] == s[i+1]:
        count+=1
    else:
        
        list_char.append((char,count))
        count = 1
list_char.append((char,count))
print(list_char)

[('a', 3), ('b', 2), ('c', 1), ('d', 2), ('e', 10)]

## Q40. 3-sum equals zero (O(n^3))

Given a **small** list of ints, print `True` if any triple (i<j<k) sums to 0 using **three nested loops**, else `False`.

**Sample Input**
```python
nums = [-1, 0, 1, 2, -1]
```
**Expected Output**
```
True
```

In [32]:
# Write your code here
nums = [-1, 0, 1, 2, -1]
iszero = False
for i in range(len(nums)):
    for j in range(len(nums)):
        for k in range(len(nums)):
            if(nums[i] < nums[j] < nums[k]):
                if(nums[i] + nums[j] +  nums[k] == 0):
                    iszero =True
                    
print(iszero)

True

# Q41. Matrix multiplication A(m×n) × B(n×p)

Multiply matrices `A` and `B` using **three nested loops**; print the resulting matrix row-by-row (space-separated).

**Sample Input**
```python
A = [[1,2],[3,4]]
B = [[2,0],[1,2]]
```
**Expected Output**
```
4 4
10 8
```

In [8]:
# Write your code here
A = [[1,2],[3,4]]
B = [[2,0],[1,2]]
m,n = len(A) ,len(A[0])
n,p = len(B), len(B[0])

C = [[0]*p for _ in range(m)]

for i in range(m):
    for j in range(p):
        for k in range(n):
            C[i][j] += A[i][k] * B[k][j]

for row in C:
    print(*row)

4 4
10 8

## Q42. Happy number detector

Print `True` if `n` is a happy number, else `False`. (Sum of squares of digits eventually reaches 1).

**Sample Input**
```python
n = 19
```
**Expected Output**
```
True
```

In [21]:
# Write your code here
n =19
seen = set()
while n!= 1 and n not in seen:
    seen.add(n)
    n = sum(int(digit)**2 for digit in str(n))
    
    if(n == 1):
        print(True)

True

## Q43. Elevator direction changes

Given a list of floor visits, count how many times the **direction** changes (up→down or down→up). Skip equal consecutive floors using `continue`.

**Sample Input**
```python
floors = [0, 2, 5, 5, 3, 1, 4, 4, 2]
```
**Expected Output**
```
3
```

In [32]:
# Write your code here
floors = [0, 2, 5, 5, 3, 1, 4, 4]
count = 0
last_floor =None

for i in range(0, len(floors)-1):
    if floors[i] == floors[i-1]:
        continue

    floor = "up" if floors[i] < floors[i+1] else "down"
   

    if last_floor == None  or floor != last_floor:
        last_floor = floor
        count+=1

print(count)

4

## Q44. First time balance dips below 0 (use break/else)

Given a list of transactions (positive/negative), print the **index** where the cumulative sum first becomes negative; if never, print `-1`.

**Sample Input**
```python
txns = [5, -2, -1, -3, 2]
```
**Expected Output**
```
3
```

In [34]:
# Write your code here
txns = [5, -2, -1, -3, 2]
count = 0
sum = 0

for idx,i in enumerate(txns):
    sum += i
    if(sum < 0):
        print(idx)
        break
     
else:
    print(-1)

3

## Q45. Robot moves (L/R/U/D)

Given command string over `'L','R','U','D'`, starting at (0,0), print the final `(x,y)` after processing all commands.

**Sample Input**
```python
cmds = 'UURDDL'
```
**Expected Output**
```
(0, 0)
```

In [40]:
# Write your code here
cmds = 'UURDDL'
coord = [0,0]
for i in cmds:
    if(i == "U"):
        coord[1] += 1
    elif(i == "D"):
        coord[1] -=1
    elif( i == "R"):
        coord[0]+=1
    else:
        coord[0] -=1
print(tuple(coord))

(0, 0)

## Q46. Spiral order traversal

Given a matrix, print the elements in **spiral order** on one line separated by spaces.

**Sample Input**
```python
m = [[1,2,3],[4,5,6],[7,8,9]]
```
**Expected Output**
```
1 2 3 6 9 8 7 4 5
```

In [43]:
# Write your code here

m = [[1,2,3],
     [4,5,6],
     [7,8,9]]

rows, cols = len(m), len(m[0])
top, bottom, left, right = 0, rows-1, 0, cols-1
spiral = []

while top <= bottom and left <= right:
    # Traverse top row
    for i in range(left, right+1):
        spiral.append(m[top][i])
    top += 1

    # Traverse right column
    for i in range(top, bottom+1):
        spiral.append(m[i][right])
    right -= 1

    # Traverse bottom row (if still valid)
    if top <= bottom:
        for i in range(right, left-1, -1):
            spiral.append(m[bottom][i])
        bottom -= 1

    # Traverse left column (if still valid)
    if left <= right:
        for i in range(bottom, top-1, -1):
            spiral.append(m[i][left])
        left += 1

print(" ".join(map(str, spiral)))

1 2 3 6 9 8 7 4 5

## Q47. Row/column duplicate check (Sudoku-like)

Given a 9×9 grid with zeros as blanks, print `True` if **no row and no column** contains duplicate nonzero digits; else `False`.

**Sample Input**
```python
g = [
[5,3,0, 0,7,0, 0,0,0],
[6,0,0, 1,9,5, 0,0,0],
[0,9,8, 0,0,0, 0,6,0],

[8,0,0, 0,6,0, 0,0,3],
[4,0,0, 8,0,3, 0,0,1],
[7,0,0, 0,2,0, 0,0,6],

[0,6,0, 0,0,0, 2,8,0],
[0,0,0, 4,1,9, 0,0,5],
[0,0,0, 0,8,0, 0,7,9]
]
```
**Expected Output**
```
True
```

In [70]:
# Write your code here
g = [
[5,3,0, 0,7,0, 0,0,0],
[6,0,0, 1,9,5, 0,0,0],
[0,9,8, 0,0,0, 0,6,0],

[8,0,0, 0,6,0, 0,0,3],
[4,0,0, 8,0,3, 0,0,1],
[7,0,0, 0,2,0, 0,0,6],

[0,6,0, 0,0,0, 2,8,0],
[0,0,0, 4,1,9, 0,0,5],
[0,0,0, 0,8,0, 0,7,9]
]
stooped = False
for i in range(len(g)):
    seenr = set()
    seenc = set()
    for j in range(len(g[i])):
        if g[i][j] != 0 :
            if g[i][j] in seenr:
                print(False)
                stooped =True
                break
            else:
                seenr.add(g[i][j])

        if  g[j][i] != 0:
            if g[j][i] in seenc:
                print(False)
                stooped = True
                break
            else:
                seenc.add(g[j][i])
    if(stooped):
        break        
else:
    print(True)

True

## Q48. Conway's Game of Life — one step

Given a binary grid, compute and print the next state using the standard Game of Life rules.

**Sample Input**
```python
grid = [[0,1,0],[0,1,0],[0,1,0]]
```
**Expected Output**
```
[[0,0,0],[1,1,1],[0,0,0]]
```

In [ ]:
# Write your code here

## Q49. Prime factorization (loop-based)

Given an integer `n>1`, print its prime factors in non-decreasing order, space-separated, using loops only.

**Sample Input**
```python
n = 84
```
**Expected Output**
```
2 2 3 7
```

In [ ]:
# Write your code here
N = 5
seen = []
k = 0
for i in range(2,N+1):
    for j in range(2, int(i**0.5)+1):
            if i % j == 0:
                break
    else:
        seen.append(i)

while  N  > 1 : 
    if N % seen[k] == 0:
           print(seen[k], end=" ")
           
           N = N //seen[k]
           k = 0
           continue 
    k +=1

113

## Q50. Josephus problem (simulation)

Given `n` people in a circle (labeled 1..n) and step `k`, eliminate every k-th person until one remains. Print the survivor label using loop simulation (no advanced data structures needed).

**Sample Input**
```python
n = 7; k = 3
```
**Expected Output**
```
4
```

In [117]:
# Write your code here
n = 9
k = 3

people = list(range(1, n+1))  # [1,2,...,n]
index = 0

while len(people) > 1:
    index = (index + k - 1) % len(people)  # move k-1 steps ahead
    people.pop(index)  # eliminate that person

print(people[0])  # survivor

1

### Tips
- Use print statements to debug.
- Think step-by-step.
- Practice without shortcuts to improve your loop logic.
- After matching the **Expected Output** for the sample input, try new inputs to build confidence.